* {
    /* asterisk selects all elements */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Calibri', Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    /* font-size: large; */
    scroll-behavior: smooth;
    /* color: black; */
}

/* background: rgb(146, 180, 156); */


.navbar {
    background: rgb(117, 142, 125);
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0 25px;
    /* navbar will stay at top of page and
    appear in front of any content when scrolling */
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__link {
    color: black;
    display: flex;
    align-items:  center;
    justify-content: center;
    width: 125px;
    font-size: 18px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__item:hover {
    /* color: white; */
    transition: all 0.3s ease;
    text-decoration: underline;
}

#logo {
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

#logo:hover {
    color: rgb(196, 220, 156);

    transition: all 0.3s ease;
    /* font-size: 1.6rem; */
    font-style: italic;
    text-decoration: underline;
}

.main {
    background: white;
    /* color:black; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    max-width: 1650px;
    margin: 0 auto;
    height: 90%;
    text-align: left;
    padding: 20px; 
}

.info {
    margin-bottom: 5px;
}

.ingredients ul {
    margin-left: 40px;
    margin-bottom: 15px;
}

.blog {
    /* display: grid;
    grid-template-columns: fit-content(300px) fit-content(300) lfr; */
    
    
}

.main a:hover {
    color: rgb(63, 95, 73);
}

.main a:visited {
    color: rgb(56, 100, 70)
}

.main ::selection {
    color: white;
    /* background-color: rgb(98, 160, 119); */
    background-color: rgb(115, 163, 131);
}

.main blockquote {
    background: rgb(196, 212, 188);
    /* padding: 5px; */
    max-width: 1000px;
    margin-left: 40px;
    /* margin-right: 500px; */
    /* margin creates extra space around an element */
    border-radius: 25px;
    padding: 20px 10px 20px 45px;
    /* top right bottom left */
    /* padding creates extra space within an element */
}